#root {
    text-align: center;
    width: 100%;
}

#root > header {
    background-color: slategray;
    width: 100%;
    padding: 0.5em 0;
    box-shadow: 0px 3px 3px dimgray;
}

header h1 {
    font-size: 1.85em;
    margin: 0.25em 0;
    color: white;
}

header h2 {
    font-size: 1em;
    margin: 0;
    color: aliceblue;
    margin-bottom: 0.5em;
}

.card {
    padding: 0.75em 1.5em;
    background: ghostwhite;
    max-width: 65ch;
    margin: 1em auto;
    color: black;
    border-radius: 0.75em;
}

.more-info {
    margin: 1em auto 0.75em auto;
    font-size: 0.9em;
    color: dimgrey;
}

.tool {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25em;
}

.radio-fieldset legend {
    display: block;
    float: left;
    font-weight: bold;
    color: dimgray;
}

.radio-fieldset fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0;
    padding: 3px;
    margin-inline: 0;
    margin: 0;
}

.radio-fieldset fieldset label {
    background: lightgray;
    padding: 0.25em 0.75em;
    margin: 0;
    cursor: pointer;
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
    box-shadow: 0px 1px 2px dimgrey;
    user-select: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: steelblue;
    color: white;
}

.radio-fieldset fieldset label:hover {
    background-color: deepskyblue;
    color: white;
}

.radio-fieldset fieldset label:first-of-type {
    border-radius: 99em 0 0 99em;
    border-left: none;
}

.radio-fieldset fieldset label:last-of-type {
    border-radius: 0 99em 99em 0;
    border-right: none;
}

#color-grid {
    display: flex;
    column-gap: 0.5em;
    row-gap: 0.5em;
    color: gray;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.color-block {
    min-width: 264px;
    min-height: 88px;
    color: black;
    display: flex;
    justify-content: start;
    flex-direction: row;
    padding: 0.5em;
    gap: 0.5em;
}

.color-block .swatch {
    width: 170px;
    height: 88px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}

.color-block .details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25em;
    width: 90px;
    flex-grow: 1;
}
.color-block .details span {
    display: block;
    width: 100%;
}

.shadow {
    box-shadow: 0px 2px 3px dimgrey;
}
